<div class="container my-5">
    <h1 class="text-center">Find the below documentation to understand better about the website</h1>
    <div class="card">
        <h2 card-title>Home page</h2>
        <p class="card-text">The home page contains a carousel of few artworks of chicago art university
            followed by a basic information about the art university of chicago.
            The navbar contains differrent options for 
        </p>
        <ul>
            <li>Home page</li>
            <li>Artworks page</li>
            <li>Favorites page</li>
            <li>Documentation page</li>
        </ul>
        <h2 card-title>Artworks page</h2>
        <p class="card-text">When we navigate to artworks page, the artworks fetched from the api are fetched and displayed in cards with functionalities like  
        </p>
        <dl>
            <dt>->Favorite</dt>
            <dd>Clicking on favorite icon will add that particular artworks to the favorites page. You can click again to deselect and remove it from favorites</dd>
            <dt>->Share</dt>
            <dd>Clicking on share icon enables us to share the details of that particular artwork via different sharing platforms</dd>
            <dt>->View</dt>
            <dd>Clicking on view icon takes us to a different page where the details about that artwork are clearly mentioned</dd>
        </dl>
        <p>Few other functionalities are:</p>
        <dl>
            <dt>->Search</dt>
            <dd>You can search the artworks according to your interest by just entering the keywords in the search field.</dd>
            <dt>->Pagination</dt>
            <dd>There were over 123265 records of artworks.But don't worry you can just paginate to avoid the clumsiness</dd>
        </dl>
        <h2 card-title>Favorites</h2>
        <p class="card-text">All the artworks you've marked as favorite are displayed in this page. You can also remove them from favorites by clicking on the remove icon.The number of artworks in favorite page is shown in the badge beside favorite icon in navbar.</p>
    </div>
</div>