  <div class="container my-5">
    <div class="card">
      <img src="https://www.artic.edu/iiif/2/{{currentArt.image_id}}/full/843,/0/default.jpg" class="card-img-top" alt="">
      <div class="card-body">
        <h1 class="card-title">{{ currentArt.title }}</h1>
        <h2>Artist:</h2>
        <p class="card-text">{{ currentArt.artist_title }}</p>
        <h2 class="card-text">Place of origin:</h2>
        <p class="card-text">{{currentArt.place_of_origin}}</p>
        <h2>Dimensions:</h2>
        <p>{{currentArt.dimensions}}</p>
        <h2>Artwork type:</h2>
        <p>{{currentArt.artwork_type_title}}</p>
        <h2>Department:</h2>
        <p>{{currentArt.department_title}}</p>
        <h2>Description:</h2>
        <p>{{currentArt.description}}</p>
      </div>
    </div>
  </div>